@use './styles/tokens' as *;

body {
  margin: 0;
  padding: 0;
  background-color: $color-primary-white;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-layout {
  position: relative;
  width: 1280px;
  height: 832px;
  background: $color-background-content; /* #F8F8F8 */
  margin: 0 auto;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr; /* Hace que todas las filas tengan la misma altura */
  gap: $spacing-20;
  padding: 0 $spacing-24;
  margin-bottom: $spacing-24;
}



